/* styles/calendar.css 또는 전역 CSS 파일 */

/**
    메인 달력 스타일 (반응형)
 */
.home-container {
    width: 700px;
    height: 75%;
    margin: auto;
}

.home-container > div:not(.chat-container) {
    height: 100% !important;
}

@media (max-width: 768px) {
    .home-container {
        width: 90%;
        height: 75%;
    }

}

@media (max-width: 768px) {
    .rbc-toolbar {
        flex-direction: row;
    }

}

@media (max-width: 500px) {
    .rbc-toolbar {
        flex-direction: column;
    }

}


/**
    버튼 툴바
 */
.custom-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

@media (max-width: 500px) {
    .custom-toolbar {
        display: inline-grid;
        justify-content: center;
    }
}

.custom-toolbar button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 0 5px;
}

.custom-toolbar button:hover {
    color: #007bff;
}

.rbc-calendar .custom-toolbar .label-area {
    display: flex;
    justify-content: center;
}

.rbc-calendar .rbc-time-view .rbc-row.rbc-time-header-cell {
    display: flex;
    align-items: baseline;
}

.rbc-calendar .rbc-time-view .rbc-allday-cell {
    height: fit-content;
}


/*.rbc-event-content {*/
/*    pointer-events: none;*/
/*}*/


/**
    reactjs popup style
 */
/*.popup-content {
    max-width: 90vw;
    max-height: 90vh;
    overflow: auto;
}*/
