/* styles/calendar.css 또는 전역 CSS 파일 */

/**
    메인 달력 스타일 (반응형)
 */
.home-container {
    width: 700px;
    height: 75%;
    margin: auto;
    margin-top: 145px;
}

.home-container > div:not(.chat-container) {
    height: 100% !important;
}

@media (max-width: 768px) {
    .home-container {
        width: 90%;
        height: 75%;
        margin-top: 170px;
    }

}

@media (max-width: 768px) {
    .rbc-toolbar {
        flex-direction: row;
    }

}

@media (max-width: 500px) {
    .rbc-toolbar {
        flex-direction: column;
    }

}


/**
    버튼 툴바
 */
.custom-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
    gap: 0.5rem;
}

@media (max-width: 500px) {
    .custom-toolbar {
        display: inline-grid;
        justify-content: center;
        gap: 0.5rem;
    }
}

.custom-toolbar button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 0 5px;
}

.custom-toolbar button:hover {
    color: #007bff;
}

.rbc-calendar .custom-toolbar .label-area {
    display: flex;
    justify-content: center;
}

.rbc-calendar .rbc-time-view .rbc-row.rbc-time-header-cell {
    display: flex;
    align-items: baseline;
}

.rbc-calendar .rbc-time-view .rbc-allday-cell {
    height: fit-content;
}

.calandar-container {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calandar-container .rbc-calendar .date-selectors select {
    width: 100%;
    max-width: fit-content;
    padding: 5px 25px 5px 10px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg width='12' height='8' viewBox='0 0 12 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 8L0.803848 0.5H11.1962L6 8Z' fill='%23999'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 12px;
    transition: border-color 0.3s ease;
}

.calandar-container .rbc-calendar .date-selectors select:not(:last-child) {
    margin-right: 3px;
}

.calandar-container .rbc-calendar .date-selectors select:hover {
    cursor: pointer;
}

.calandar-container .rbc-calendar .date-selectors select:focus {
    border-color: #ff5722;
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 87, 34, 0.2);
}